*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(2, 14, 35);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}

.EZCounter{
    width:70%;
    aspect-ratio: 1/0.5;
    font-size: 25px;
}

.EZCounter textarea {
    font-size: 20px;   
}

#output{
    text-align: center;
}
